<div class="change-pw">
    <div class="change-pw-title">
        Thay đổi mật khẩu
    </div>
    <ng-container *ngIf="!success">
        <form [formGroup]="form" *ngIf="!success">
            <div class="form-group">
                <label for="NewPassword">Nhận mật khẩu mới: </label>
                <input type="password" id="NewPassword" formControlName="NewPassword">
            </div>

            <div class="form-group">
                <label for="ConfirmPassword">Xác nhận lại mật khẩu: </label>
                <input type="password" id="ConfirmPassword" formControlName="ConfirmPassword">

            </div>

            <div class="change-pw-toast">
                <div class="err" *ngIf="err != null"> {{err}}</div>
            </div>
        </form>
        <div class="change-pw-btn">
            <button class="btn-save" (click)="change()" >Xác nhận</button>
        </div>
    </ng-container>

</div>