//========table of contents======

/*
  1. login
  2. card
  3. header
  4. nav
*/

//1===========login===========
.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .login-text-header {
    font-weight: 800;
    font-size: 42px;
    line-height: 51px;
    color: #222222;
    text-align: center;
    margin-bottom: 20px;
  }
  .login-link {
    text-align: right;
    width: 320px;
    color: #000000;
    margin-top: 10px;
  }
}

//2.========== card==========
// .base-card {
//   background-color: #ffffff;
//   border-radius: 10px;
//   padding: 1rem;
//   border: 1px solid rebeccapurple;
// }

.text-card-header {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--color-text-header);
}

.text-card-label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-text-header);
}

.text-card-content {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-text-header);
}

.text-card-status {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-warning);
}

//3.============= header=========
.header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header-info-avt {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #eeb7ad;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .header-info-name {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin: 0px 20px;
  }
  .header-info-btn {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    padding-right: 30px;
    cursor: pointer;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 235px;
  .header-logo-icon {
    padding-left: 30px;
  }
  .header-logo-img {
    padding-right: 30px;
  }
}

//4============nav============
.nav-menu {
  display: flex;
  align-items: center;
  padding-left: 19px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  height: 67px;
  .nav-menu-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  .nav-menu-list {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    word-break: keep-all;
    max-width: 150px;
    // color: var(--color-section);
    margin-top: 15px;
    margin-left: 15px;
  }
}

.nav-menu-active {
  background: #c9c9d0;
  border-radius: 16px;
  // background: var(--color-section);
}

.nav-menu-active-list {
  // color: var(--color-list-nav) !important;
}

.nav-menu-active-icon {
  // img {
  //   filter: invert(99%) sepia(18%) saturate(4618%) hue-rotate(305deg)
  //     brightness(94%) contrast(102%);
  // }
}

//5===========button================
.btn-sc {
  background: #FF872B;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  height: 44px;
  outline: none;
  border: none;
  margin: 0px 16px;
}

.btn-cancel {
  width: 150px;
  height: 45px;
  border: 1px solid #FF872B;
  background: none;
  border-radius: 10px;
  color: #FF872B;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin: 0 15px;
}
.btn-save {
  width: 150px;
  height: 45px;
  border-radius: 10px;
  border: none;
  background-color: #FF872B;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin: 0 15px;
}
.group-btn {
  text-align: center;
}
.shadow {
  box-shadow: 0 0 3px 1px rgb(128 128 128 / 30%);
  border-radius: 20px;
  background-color: var(--color-white);
}
.shadow-half {
  box-shadow: 0 0 3px 1px rgb(128 128 128 / 30%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--color-white);
}

.base-input {
  height: 35px;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  outline-style: none;
  box-shadow: 0 0 3px 1px rgb(128 128 128 / 30%);
  padding: 0 10px;
  &-search {
    background-color: var(#ffffff);
    border-radius: 20px;
    height: 40px;
    padding: 0px 20px;
    border: 1px solid #e4e4e4;
    outline-style: none;
    box-shadow: 0 0 3px 1px rgb(128 128 128 / 30%);
  }
}

.content-title {
  margin-bottom: 21px;
  margin-top: 9px;
  font-weight: 600;
}

// ---- Style table base -------
.data-table {
  min-width: 100%;
  text-align: center;
  font-size: 16px;
  thead {
    background: #c9c9d0;
    // color: white;
    font-weight: 500;
    tr {
      background-color: #c9c9d0;
      height: 50px;
    }
    th {
      background-color: #c9c9d0;
      min-width: 200px;
    }
    th:first-child {
      background-color: #c9c9d0;
      min-width: 100px;
      border-radius: 20px 0 0;
    }
    th:last-child {
      border-radius: 0 20px 0 0;
    }
    th:not(:last-child) {
      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        border-right: 1px solid white;
      }
    }
  }
  th:nth-child(1) {
  }
  th:last-child {
  }
  tbody {
    height: 65px;
    tr {
      height: 65px;

      td {
        .data-content {
          height: 100%;
          overflow: hidden;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: auto;
          max-width: 200px;
          padding: 0 10px;
        }
      }
    }
    tr:nth-child(even) {
      background-color: #f0f0f0;
    }
  }
}

// ---- button -----
.btn-create {
  width: 100px;
  height: 40px;
  color: #1894ff;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #1894ff;
  cursor: pointer;
}
