<div class="wrapper">
    <div class="auth-layout">
        <div class="auth-layout-banner">
            <img class="auth-layout-banner-img" src="assets/img/logo-billgates.png" alt="">
        </div>
        <div class="auth-layout-content">
            <div class="auth-layout-content-box">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>








<!-- trong ng-content dùng để chưa các component được gặp từ các mang lego -->
<!-- <ng-content>
</ng-content> -->