<div class="form-create">
  <div class="title">
    {{ option?.title }}
  </div>
  <form action="" #create="ngForm" ngNativeValidate (ngSubmit)="clickSubmit(create.submitted, arrayButton[1])">
    <div class="content row align-items-center" *ngFor="let item of data">
      <div class="col-3 label">
        {{ item?.label }}
        <span *ngIf="item.required" class="obligatory">*</span>
      </div>
      <div class="col-9" [class]="item.class">
        <!-- INput ảnh -->
        <div class="img" *ngIf="item.type === 'img'">
          <input
            #file
            type="file"
            accept="image/*"
            (change)="preview(file.files)"
          />
          <img [src]="imgURL" height="200" *ngIf="imgURL" />
        </div>
        <!-- input text, date, number... -->
        <div
          *ngIf="
            item.type === 'text' ||
            item.type === 'number' ||
            item.type === 'file' ||
            item.type === 'date' || item.type === 'email'
          "
        >
          <input
            type="{{ item.type }}"
            id="{{ item.id }}"
            [disabled]="item.disable"
            (input)="checkChange(true)"
            name="{{ item.name }}"
            [(ngModel)]="model[item.id]"
            [required]="item.required"
            [ngModelOptions]="{ standalone: true }"
          />
          <span class="obligatory" *ngIf="item.name === 'date' && checkErrorDate">Ngày nhập không hợp lý (đã kết thúc học kì hoặc chưa bắt đầu học kỳ mới)!</span>
          <span class="obligatory" *ngIf="item.name === 'email' && checkErrorEmail">Email đã tồn tại, vui lòng nhập email khác!</span>
          <span class="obligatory" *ngIf="item.name === 'phone' && checkErrorPhone">Tên đăng nhập không đúng hoặc đã tồn tại, vui lòng nhập lại!</span>
        </div>
        <!-- multiple chip -->
        <div class="chip" *ngIf="item.type === 'multiple'">
          <mat-chip-listbox multiple class="chipList" >
            <mat-chip-option *ngFor="let o of item.option; index as i" color="accent" [selected]="o.selected" (click)="selectChip(i, item.id)">
                {{o.name}}
            </mat-chip-option>
          </mat-chip-listbox>
        </div>
        <!-- select option changeData -->
        <div *ngIf="item.type === 'selectChange'">
          <select
          [required] = "item.required"
            [(ngModel)]="model[item.id]"
            [value]="item.defaultValue"
            name="{{ item.name }}"
            [ngModelOptions]="{ standalone: true }"
            (change)="selectChange($event)"
          >
            <option *ngFor="let i of item.data" [value]="i.value">
              {{ i.name }}
            </option>
          </select>
        </div>
        <div *ngIf="item.type === 'upload-file'">
          <input type="file" name="" (change)="file = $event" id="" />
        </div>
        <div *ngIf="item.type === 'upload'">
          <input type="file" (change)="file = $event" />
        </div>
        <div *ngIf="item.type === 'textarea'">
          <textarea
            [required]="item.required"
            [(ngModel)]="model[item.id]"
            name="{{ item.name }}"
            id=""
            rows="4"
            [ngModelOptions]="{ standalone: true }"
          ></textarea>
        </div>
        <div *ngIf="item.type === 'selected'">
          <select
          [required] = "item.required"
            [(ngModel)]="model[item.id]"
            [ngModelOptions]="{ standalone: true }"
            name="{{ item.name }}"
            (change)="subChange($event)"
          >
            <option *ngFor="let i of item.data" [value]="i.value">
              {{ i.name }}
            </option>
          </select>
        </div>
        <div *ngIf="item.type === 'disableSelected'">
          <select
            disabled
            [(ngModel)]="model[item.id]"
            [ngModelOptions]="{ standalone: true }"
            name="{{ item.name }}"
          >
            <option *ngFor="let i of item.data" [value]="i.value">
              {{ i.name }}
            </option>
          </select>
        </div>
        <div *ngIf="item.type === 'htmlText'">
          <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
            <ngx-editor
              name=""
              [editor]="editor"
              [ngModel]="html"
              editable="true"
              placeholder="Type here..."
            ></ngx-editor>
          </div>
        </div>
      </div>
    </div>
    <div class="download" *ngIf="fileImport.type === 'download'">
      <a (click)="fileDownload(fileImport.Url)">Tải file mẫu</a>
    </div>
    <div class="group-btn">
      <div
        class="btn cancel mbf-btn"
        (click)="onClickButton(arrayButton[0])"
        [class]="arrayButton[0].class"
      >
        {{ arrayButton[0].text }}
      </div>
      <button
        type="submit"
        class="btn mbf-btn"
        #save
        [class]="arrayButton[1].class"
      >
        {{ arrayButton[1].text }}
      </button>
    </div>
  </form>
</div>
