.form-create {
  .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 0;
  }
  .chip{
    display: flex;
    gap: 10px;
    // .chipList {
      
    // }
  }
  .content {
    padding: 0 20px 15px;
    .label {
      margin-bottom: 10px;
    }
    input,
    select,
    textarea {
      width: 95%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #e4e4e4;
      outline: none;
    }
    .img {
      display: flex;
      flex-direction: column;
      img {
        width: 150px;
        height: 150px;
      }
    }
  }
  .group-btn {
    .cancel {
      line-height: 45px;
    }
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.download {
  padding: 0 20px 15px 0;
  color: blue;
  padding-left: 20px;
  padding-bottom: 20px;
  text-decoration: underline;
  a {
    cursor: pointer;
  }
}
.obligatory {
  color: red;
}
