.teacher {
    .title {
      font-weight: 600;
      font-size: 26px;
      display: flex;
      align-items: center; 
      select {
        width: 150px;
        height: 30px;
        border: 1px solid #50A0FC;
        border-radius: 5px;
        margin-left: 30px;
      }
    }
  }
  