<form class="form-login" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group" *ngIf="loginFormData.type.forgot == 'forgot' ">
        <input class="form-login-input" type="email" formControlName="email" placeholder="Email đăng ký">
        <div *ngIf="form.get('email').errors" class="login-error">Số điện thoại không đúng</div>
    </div>
    <div class="form-group" *ngIf="loginFormData.type.phone == 'phone' ">
        <input class="form-login-input" type="tel" formControlName="username" placeholder="Tên đăng nhập">
        <!-- <div *ngIf="form.get('username').errors" class="login-error">Số điện thoại không đúng</div> -->
    </div>

    <div class="form-group" *ngIf="loginFormData.type.password == 'password' ">
        <input class="form-login-input" type="password" formControlName="password" placeholder="Mật khẩu">
        <div class="login-error"> {{loginError}} </div>
    </div>
    <button class="form-login-btn">
       {{btnTitle}}
    </button>
</form>