.custom-dialog {
    .title{
        font-size: 20px;
        font-weight: bold;
        align-items: center;
        padding: 15px;
    }
    .info{
        background:#F1F8E9;
    }
    .warn{
        background: #FFEBEE;
    }
}
