<div class="box">
    <div class="box-header">
        <!-- {{dataBox.header}} -->
        Bảo Tâm An
    </div>
    <table>
        <thead>
            <tr>
                <th class="th">Gói sản phẩm</th>
                <th class="th-center">Chu kỳ</th>
                <th class="th">Hình thức thanh toán</th>
                <th class="th">Hoa hồng</th>
            </tr>
        </thead>
        <tbody>
            <tr class="box">
                <td rowspan="3" class="td-flex-center row-header">Cơ bản</td>
                <td class="td-center border-left dark-bg">Tuần</td>
                <td class="dark-bg">Viễn thông <br> ViettelPay</td>
                <td class="border-right dark-bg">20% <br> 20%</td>
            </tr>
            <tr>
                <td class="td-center border-left dark-bg">Tháng</td>
                <td class="dark-bg">Viễn thông <br> ViettelPay</td>
                <td class="border-right dark-bg">20% <br> 20%</td>
            </tr>
            <tr>
                <td class="td-center border-left dark-bg">Năm</td>
                <td class="dark-bg">Viễn thông <br> ViettelPay</td>
                <td class="border-right dark-bg">20% <br> 20%</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td rowspan="3" class="td-flex-center row-header">Tiêu chuẩn</td>
                <td class="td-center border-left dark-bg">Tuần</td>
                <td class="dark-bg">Viễn thông <br> ViettelPay</td>
                <td class="border-right dark-bg">20% <br> 20%</td>
            </tr>
            <tr>
                <td class="td-center border-left dark-bg">Tháng</td>
                <td class="dark-bg">Viễn thông <br> ViettelPay</td>
                <td class="border-right dark-bg">20% <br> 20%</td>
            </tr>
            <tr>
                <td class="td-center border-left dark-bg">Năm</td>
                <td class="dark-bg">Viễn thông <br> ViettelPay</td>
                <td class="border-right dark-bg">20% <br> 20%</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td rowspan="3" class="td-flex-center row-header">Tiêu chuẩn</td>
                <td class="td-center border-left dark-bg">Tuần</td>
                <td class="dark-bg">Viễn thông <br> ViettelPay</td>
                <td class="border-right dark-bg">20% <br> 20%</td>
            </tr>
            <tr>
                <td class="td-center border-left dark-bg">Tháng</td>
                <td class="dark-bg">Viễn thông <br> ViettelPay</td>
                <td class="border-right dark-bg">20% <br> 20%</td>
            </tr>
            <tr>
                <td class="td-center border-left dark-bg">Năm</td>
                <td class="dark-bg">Viễn thông <br> ViettelPay</td>
                <td class="border-right dark-bg">20% <br> 20%</td>
            </tr>
        </tbody>
    </table>
</div>