<div class="setting">
  <div class="title">
    CÀI ĐẶT CHUNG
  </div>
  <br>
  <div class="list-item">
    <div class="item" routerLink="/main/setting/school-year">
      <img src="assets/svg/setting-calender.svg" alt="">
      <h2>NĂM HỌC</h2>
    </div>
    <!-- <div class="item" routerLink="/main/setting/position">
      <img src="assets/svg/icon-position.svg" alt="">
      <h2>CHỨC VỤ</h2>
    </div> -->
    <div class="item" routerLink="/main/setting/subject/level">
      <img class="subject" src="assets/svg/icon-subject.svg" alt="">
      <h2>QUẢN LÝ MÔN HỌC</h2>
    </div>
    <div class="item" routerLink="/main/setting/infor-user">
      <img class="subject" src="assets/svg/menber/mb-icon-group.svg" alt="">
      <h2>THÔNG TIN CÁ NHÂN</h2>
    </div>
  </div>
</div>
