<div>
  <div class="header">
    LỚP
    <button class="btn-create create" *ngIf="!user_id" (click)="createClass()">+ Thêm Lớp</button>
    <div class="search-filter">
      <div  class="spinner" *ngIf="spinner">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>
      <input type="search" class="search" (input)="onSearchKey($any($event.target).value)" placeholder="Tìm kiếm lớp học" name="" id="">
      <!-- <div class="list-result" *ngIf="results.length > 0">
          <div class="student-detail" *ngFor="let item of results" (click)="clickStudent(item)">
              <img [src]="item.MediaURL" (error)="setDefaultImg(item)" alt="" srcset="">
              <div class="info-student">
                   <span>{{item.full_name}}</span>
                   <br>
                   <span>Lớp: {{item.class.name}}</span>
                   <br>
                   <span>Mã HS: {{item.student_code}}</span>
              </div>
          </div> 
      </div> -->
    </div>
  </div>
  <br />
  <app-base-card
    [dataCard]="data"
    [showIcon]="!user_id"
    (callback)="routerTo($event)"
    (callbackDelete)="delete($event)"
  >
  </app-base-card>
</div>
